# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: install package
        run: pip install requests
        
      - name: Run a python in current branch
        run: 
          python .github/workflows/test.py
        env:
          GITHUB_TOKEN: ${{ github.token }}
          REPOSITORY: ${{ github.repository }}
          
      - name: switch branch
        run: |
          pwd
          git branch -v
          git pull origin main
          git checkout main
          
      - name: Run a python in main branch
        run: 
          python .github/workflows/test.py
        env:
          GITHUB_TOKEN: ${{ github.token }}
          REPOSITORY: ${{ github.repository }}    
          
      - name: print evn
        run: 
          # if the "on" is pull_request, that we can access this variable
          echo "pr number is -- ${{ github.event.pull_request.number }}"
